<div class="row">
  <div class="comment-author">
    <%= comment.user.email %> says...
  </div>
  <div class="span">
    <%= comment.body %>
  </div>
  <div class="span right">
    <%= comment.created_at.to_formatted_s(:short) %>
  </div>
</div>
