<div class="top-nav">
  <%= ajax_link 'Sign Up', signup_path, {class: 'span right pill'}, '' %>
  <%= ajax_link 'Login', login_path, {class: 'span right pill'}, '' %>
</div>

<div class="row">
  <h1>Polarizer</h1>

  <h2> A Social Network to Enhance Our Reactionary Disdain for Those Who Think Differently From Us</h2>
  <h3> and </h3>
  <h2> Reinforce Our Misperception That All the Smartest People Agree with Us</h2>
</div>