<div class="well">
  <%= simple_form_for @post,
        html: ajax_form_hash('#my_posts_list',
          insert_method: 'prepend',
          error_target: '#new_post_form',
          empty_on_success: '#new_post_form') do |f| %>
    <%= render partial: 'fields', locals: {f: f} %>
    <%= f.submit "Publish Post", class: 'pill small margin' %>
    <a <%= emptier '#new_post_form' %> class="pill small">close</a>
  <% end %>
</div>