/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  color: $charcoal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  box-sizing: border-box;
  line-height: 1.2;
  width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 32px;
  color: $charcoal;
}
h2 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  color: $asphalt;
}
h3 {
  font-size: 15px;
  color: $asphalt;
}
a {
  color: #5A6F7F;
}
input[type="submit"] {
  line-height: 16px;
  font-size: 14px;
  margin: 0;
  color: #5A6F7F;
}
input[type="text"], input[type="email"], input[type="phone"], input[type="number"], textarea {
  margin-bottom: 10px;
  margin-left: 10px;
}
label {
  vertical-align: top;
}
.match-h2{
  margin-top: 8px;
  margin-bottom: 8px;

}